*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}
 
header{
    padding: 48px;
    position: fixed;
}

.topo{
    padding: -10px;
    padding-left: 20px;
    position: fixed;
    right: 0px;
    background-color: rgb(243, 237, 237);
    top: 0;
    width: 100%;
}


.menu{
    text-align: right;
    position: relative;
    top: -40px;

}

.menu a{
    color: black;
    margin-bottom: 0px;
    margin-right: 60px;
    text-decoration: none;

}

.menu a:hover{
    color: rgb(209, 40, 209);
}

.conteudo{
    text-align: center;
    flex: 70%;
    background-color: rgb(252, 248, 248);
    padding: 50px;

}

.final{
    background-color: black;
    padding: 50px;
    text-align: center;
}

.final h1{
    color: white;

}

.link1 a{
    color: white;
    padding-left: 40px;
}

.link1 a:hover{
    color: purple;
}

.cookies a{
    color: white;
    padding-left: 60px;
    text-decoration: none;
}

.cookies a:hover{
    color: purple;
}

.by p{
    color: white;
}