*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rgb(224, 224, 224);
}
 
.topo{
    background-color:lawngreen;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
     'Open Sans', 'Helvetica Neue', sans-serif;
     flex: 70%;
}

.menu{
    text-align: right;
    position: relative;
    top: -50px;

}

.menu a{
    color: black;
    margin-bottom: 0px;
    margin-right: 60px;
    text-decoration: none;
}

.menu a:hover{
    color: white;
}