*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}
 
header{
    padding: 48px;
    position: fixed;
}

.topo{
    padding: 10px;
    padding-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    right: 0px;
    background-color: rgb(243, 237, 237);
    top: 0;
    width: 100%;
}


.menu{
    text-align: right;
    position: relative;
    top: -50px;

}

.menu a{
    color: black;
    margin-bottom: 0px;
    margin-right: 60px;
    text-decoration: none;

}

.menu a:hover{
    color: purple;
}

.conteudo h1{
    text-align: center;
     flex: 70%;
      background-color: rgb(252, 248, 248);
     padding: 50px;

}

#op1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
}

#para1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
}

#op2{
    text-align: center;
}

#para2{
    text-align: center;
}

#op3{
    text-align: center;
}

#para3{
    text-align: center;
}

#op4{
    text-align: center;
}

#para4{
    text-align: center;
}

#op5{
    text-align: center;
}

#para5{
    text-align: center;
}

.final{
    background-color: black;
    padding: 50px;
    text-align: center;
}

.final h1{
    color: white;

}

.link1 a{
    color: white;
    padding-left: 40px;
}

.link1 a:hover{
    color: purple;
}

.conteudo b,h1,h2,p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
     'Helvetica Neue', sans-serif;
}

.cookies a{
    color: white;
    padding-left: 20px;
}

.cookies a:hover{
    color: purple;
}

.by p{
    color: white;
}