*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
 
header{
    padding: 48px;
    position: fixed;
}

.topo{
    padding: 10px;
    padding-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    right: 0px;
    background-color: rgb(243, 237, 237);
    top: 0;
    width: 100%;
}


.menu{
    text-align: right;
    position: relative;
    top: -50px;

}

.menu a{
    color: black;
    margin-bottom: 0px;
    margin-right: 60px;
    text-decoration: none;

}

.menu a:hover{
    color: purple;
}