.conteudo{
    text-align: center;
    flex: 70%;
    padding: 50px;

}

.final{
    background-color: black;
    padding: 50px;
    text-align: center;
}

.final h1{
    color: white;

}

.cookies a{
    color: white;
    padding-left: 60px;
    text-decoration: none;
}

.cookies a:hover{
    color: purple;
}

.by p{
    color: white;
}

