*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}
 
header{
    padding: 28px;
    position: fixed;
}

.logo h1{
    color: white;
    font-size: 25px;
}

.topo{
    padding: -10px;
    padding-left: 20px;
    position: fixed;
    right: 0px;
    background-color: #000624;
    top: 0;
    width: 100%;
}

.logo h5{
    color: white;
    position: relative;
    top: -30px;
}

.linha1{
    position: relative;
    width: 200px;
    right: 657px;
    top: -15px;
    height: 4px;
    background-color: #ffb700;
}

.menu{
    text-align: right;
    position: relative;
    top: -90px;

}

.menu a{
    color: white;
    margin-bottom: 0px;
    margin-right: 60px;
    text-decoration: none;

}

.menu a:hover{
    color: #ffc248;
}

.link1 a{
    color: white;
    padding-left: 40px;
}

.link1 a:hover{
    color: purple;
}

.logo-meio h1{
position: relative;
top: 200px;
text-align: center;
}

.logo-meio h3{
position: relative;
top: 200px;
text-align: center;
left: 7px;
}