*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}
 
header{
    padding: 28px;
    position: fixed;
}

.logo h1{
    color: white;
    font-size: 25px;
}

.topo{
    padding: -10px;
    padding-left: 20px;
    position: fixed;
    right: 0px;
    background-color: #00a2e4;
    top: 0;
    width: 100%;
}

.logo h5{
    color: white;
    position: relative;
    top: -30px;
}

.linha1{
    position: relative;
    width: 300px;
    right: 610px;
    top: -15px;
    height: 6px;
    background-color: #ffc248;
}

.menu{
    text-align: right;
    position: relative;
    top: -90px;

}

.menu a{
    color: white;
    margin-bottom: 0px;
    margin-right: 60px;
    text-decoration: none;

}

.menu a:hover{
    color: #ffc248;
}

.conteudo{
    text-align: center;
    flex: 70%;
    padding: 50px;

}

.final{
    background-color: black;
    padding: 50px;
    text-align: center;
}

.final h1{
    color: white;

}

.link1 a{
    color: white;
    padding-left: 40px;
}

.link1 a:hover{
    color: purple;
}

.cookies a{
    color: white;
    padding-left: 60px;
    text-decoration: none;
}

.cookies a:hover{
    color: purple;
}

.by p{
    color: white;
}

