*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
 
header{
    padding: 60px;
}

.topo{
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    flex: 70%;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}


.menu{
    text-align: right;
    position: relative;
    top: -50px;

}

.menu a{
    color: black;
    margin-bottom: 0px;
    margin-right: 60px;
    text-decoration: none;

}

.menu a:hover{
    color: purple;
}

.conteudo h1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

.conteudo h2{
    background-color: rgb(252, 248, 248);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}